*{
  margin:0px;
  border: 0px;
}
html,body{
  width: 100%;
}

.wrapper{
height: 100%;
width: 100%;
}
.menu{
	background-color: #212121;
}
.hamburger{
	background-color: #212121;
}
.logod{
	background-color: #212121;
}
.nav-links{
	background-color: #212121;
}
.bg{
  position: absolute;
  display: block;
  margin-top: 6%;
  height: 100%;
  weight: 100%;
  background-size: 100% 100%;
  background-image: url("../image/bgtrain.jpg");
}

.bigcont{
height: auto;
margin-top:
display: block;

}
.smallcont{
  left: 20%;
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin:10px;
  margin-left: 20%;
  display: flex;
}
.smallcont h1{
	padding: 1%;
	text-align: left;
	font-style: oblique;
	font-size: 2vw;
	font-weight: bold;
	color: purple;
}
.smallcont h2{
	margin-left: 3%;
	font-size: 1.2vw;
	font-style: sans-serif;
	margin-right: 20px;
}
.innerdiv{
flex:2;
}
.media{
  flex:1;
}
