*{
  margin:0px;
  border: 0px;
}
html,body{
  width: 100%;
}

.wrapper{
height: auto;
width: 100%;
}
.menu{
	background-color: #212121;
}
.hamburger{
	background-color: #212121;
}
.logod{
	background-color: #212121;
}
.nav-links{
	background-color: #212121;
}
.bg{
  position: absolute;
  display: block;
  background-size: 100% 100%;
  background-image: url("../image/2.jpg");
  margin-top: 5.9%;
  height: auto;
  weight: auto;

}
.leftycont{
  position: absolute;
	height: 50%;
	width: 20%;
	border: 1px solid black;
	background-size: 100% 100%;
	top 13vh;
}
.adds{
	width: 100%;
	height: 100%;
	background-image: url("../image/glovesbag.jpg");
	background-size: 100% 100%;
animation: main 8s infinite linear;
box-shadow:  1px 2px 10px 5px white;
cursor: pointer;
top 13vh;F
}
@keyframes main{
0%{ background-image: url('../image/nunchucks.jpg'); }
35%{ background-image: url('../image/acc3.jpg'); }
75%{ background-image: url('../image/acc4.jpg'); }

}
.bigcont{
height: auto;
margin-top:
display: block;
}
.smallcont{
  left: 20%;
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin:10px;
  margin-left: 20%;
  display: flex;
}
.smallcont h1{
	padding: 1%;
	text-align: left;
	font-style: oblique;
	font-size: 2vw;
	font-weight: bold;
	color: purple;
}
.smallcont h2{
	margin-left: 3%;
	font-size: 1.2vw;
	font-style: sans-serif;
	margin-right: 20px;
  color: orange;
}
.innerdiv{
flex:2;
}
.media{
  flex:1;
}
