*{
		margin: 0px;
		border: 0px;
}
html , body {
	height: 100%;
}
.wrapper{
	height: 100%;
	width: 100%;
}
.bgimage1{
	margin: 0px;
		border: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url("../image/bgtrain.jpg");
}
.menu{
	background-color: #212121;
}
.hamburger{
	background-color: #212121;
}
.logod{
	background-color: #212121;
}
.nav-links{
	background-color: #212121;
}
.maindiv{
	margin: 0px;
	border:0px;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../image/bgtrain.jpg");
}
.innerdiv{
	height: 100%;
	width: 30%;
	background-color: grey;
	border: 3px black auto;

}