.wrapper{

	background-color: white;
	background-image: none;
	height: 100%;
	width: 100%;
}
.bgimage1{

	background-color: white;
		height: 100%;
	width: 100%;
	position: absolute;
}
.menu{
	background-color: #212121;
}
.hamburger{
	background-color: #212121;
}
.logod{
	background-color: #212121;
}
.nav-links{
	background-color: #212121;
}
.bigdiv{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: grey;
	display: flex;
}
.ft{
	flex: 1;
	width: 100%;
	height:100%;
	border-left: 10%;
	
	border: solid 2px black;
	position: relative;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	border-radius: 10px;
  	transform-style: preserve-3d;
  	transition: all 0.8s ease;
}
.ft:hover{
  transform: rotateY(180deg);
}
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-image: url("../image/ft.jpg");
  background-size: 100% 100%;
  color: #000;
}
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.text1{
	width: 60%;
	height: 30%;
	margin-left: 15%;
	border-left: 100px;
	margin-top:  90%;
	padding: auto 9px;
	color: grey;
	align-items: center;
	font-size: 50px;
	font-weight: bold;
}
h1{
	animation: text 3s 1;
}
.text1 h2{
	margin-left: 22%;
}
@keyframes h1{
	0%{
		margin-left: -50px;
	}

}
.def{
	flex: 1;
	width: 100%;
	background-image: url("../image/selfdef.jpg");
	background-size: 100% 100%;
	border: solid 2px black;
}
.text2{
	height: 30%;
	margin-left: 15%;
	border-left: 100px;
	margin-top:  90%;
	padding: auto 9px;
	color: grey;
	align-items: center;
	font-size: 50px;
	font-weight: bold;
}
.food{
	flex: 1;
	width: 100%;
	background-color:red;
	background-image: url("../image/nutrition.jpg");
	background-size: 100% 100%;
}
.text3{
	height: 30%;
	margin-left: 15%;
	border-left: 100px;
	margin-top:  90%;
	padding: auto 9px;
	color: grey;
	align-items: center;
	font-size: 50px;
	font-weight: bold;
}