.wrapper{

	background-color: white;
	background-image: none;
	height: 100%;
	width: 100%;
}
.bgimage1{

	background-color: white;
		height: 100%;
	width: 100%;
	position: absolute;
}
.menu{
	background-color: #212121;
}
.hamburger{
	background-color: #212121;
}
.logod{
	background-color: #212121;
}
.nav-links{
	background-color: #212121;
}
.bigdiv{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: grey;
	display: flex;
}
.ft{
	flex: 1;
	width: 100%;
	height: 90%;
	border-left: 10%;
	border: solid 10px white;
	position: relative;
  	margin-top: 5%;
  	left: 0;
  	border-radius: 10px;
  	transform-style: preserve-3d;
  	transition: all 0.5s ease;
}
.ft:hover{
  transform: rotateY(180deg);
}
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-image: url("../image/ft.jpg");
  background-size: 100% 100%;
  color: #000;
}
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: blue;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
}
.text1{
	width: 60%;
	height: 30%;
	margin-left: 19%;
	border-left: 100px;
	margin-top:  85%;
	padding: auto 9px;
	color: grey;
	align-items: center;
	font-size: 50px;
	font-weight: bold;
}
h2{
  margin-left: 20%;
}
#buttonft{
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  font-family: 'Montserrat',sans-serif; text-transform: uppercase;
  margin-top: 50px;
  border: 3px solid black;
}
.matter{
   font-size: 20px;
   margin: 8% auto;
  align-items: center;
}
.def{
	flex: 1;
  width: 100%;
  height: 90%;
  border-left: 10%;
  border: solid 10px white;
  position: relative;
    margin-top: 5%;
    left: 0;
    border-radius: 10px;
	transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.def:hover{
  transform: rotateY(180deg);
}
 .thefront2{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-image: url("../image/selfdef.jpg");
	background-size: 100% 100%;
  color: #000;
}
.theback2{
  position: absolute;

  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background:red;
  color: yellow;
  text-align: center;
  transform: rotateY(180deg);
}
.text2{
	height: 30%;
	margin-left: 15%;
	border-left: 100px;
	margin-top:  90%;
	padding: auto 9px;
	color: grey;
	align-items: center;
	font-size: 50px;
	font-weight: bold;
}
#buttondef{
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  font-family: 'Montserrat',sans-serif; text-transform: uppercase;
  margin-top: 50px;
  border: 3px solid black;
}
.matter2{
   font-size: 20px;
   margin: 8% auto;
  align-items: center;
}
.food{
	flex: 1;
  width: 100%;
  height: 90%;
  border-left: 10%;
  border: solid 10px white;
  position: relative;
    margin-top: 5%;
    left: 0;
    border-radius: 10px;
	transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.food:hover{
  transform: rotateY(180deg);
}
 .thefront3{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-image: url("../image/nutrition.jpg");
	background-size: 100% 100%;
  color: #000;
}
.theback3{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background:yellow;
  color: black;
  text-align: center;
  transform: rotateY(180deg);
}
.text3{
	height: 30%;
	margin-left: 0%;
	margin-top:  90%;
	padding: auto 9px;
	color: grey;
	align-items: center;
	font-size: 50px;
	font-weight: bold;
}
#buttonfood{
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  font-family: 'Montserrat',sans-serif; text-transform: uppercase;
  margin-top: 50px;
  border: 3px solid black;
}
.matter3{
  font-size: 20px;
  margin: 8% auto;
  align-items: center;
}
@@media only screen and (min-width: 1590px) {

		.text 1 h2{
			font-size: 10%;
		}
.text1 h1{
	font-size: 10%;
}
.matter{
	font-size: 10px;
}
.matter2{
	font-size: 10px;
}
.matter3{
	font-size: 10px;
}
}
@@media only screen and (min-width: 1500px) {
	.ft{
		width: 80%;

	}
	.selfdef{
		width: 80%;

	}
	.food{
		width: 80%;
		
	}
	.matter{
		font-size: 10px;
	}
	.matter2{
		font-size: 10px;
	}
	.matter3{
		font-size: 10px;
	}
		.text 1 h2{
			font-size: 10%;
		}
.text1 h1{
	font-size: 10%;
}
}
