.wrapper{

	background-color: white;
	background-image: none;
	height: 100%;
	width: 100%;
}
.bgimage1{

	background-color: white;
		height: 100%;
	width: 100%;
	position: absolute;
}
.menu{
	background-color: #212121;
}
.hamburger{
	background-color: #212121;
}
.logod{
	background-color: #212121;
}
.nav-links{
	background-color: #212121;
}
.bigdiv{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: grey;
	display: flex;
}
.ft{
	flex: 1;
	width: 100%;
	height:100%;
	border-left: 10%;
	background-color: blue;
}
.def{
	flex: 1;
	width: 100%;
	background-color: black;
}
.food{
	flex: 1;
	width: 100%;
	background-color:red;
}